body {
        font-family: "Roboto", sans-serif;
        color: #212121;
        font-weight: 400;
        font-style: normal;
}
.navigation {
        color: #212121;
        list-style: none;
}
.navigation-button {
        color: inherit;
        font-size: 14px;
        line-height: 0,9;
        text-decoration: none;
        font-weight: 500;
        display: inline;
}
.active-button {
        color: #2196F3;
}
.navigation-button:hover, 
.contacts-button:hover, 
.contact-below:hover, 
.gps:hover {
        color: #2196F3;
}
.navigation-button:focus, 
.contacts-button:focus, 
.contact-below:focus, 
.gps:focus {
        color: #2196F3;
}
.contacts-buttons {
        color: #757575;
        list-style: none;
}
.contacts-button {
        color: inherit;
        text-decoration: none;
        font-weight: 500;
}
.background-business {
        background-color: #2F303A;

}
.your-business {
        color: #ffffff;
        font-weight: 900;
        font-size: 44px;
        line-height: 0,7;
        text-align: center;
        display: block;
}
.order-service {
        background-color: #2196F3;
        display: block;
        width: 200px;
        height: 50px;
        border: #2196F3;
        border-radius: 4px 4px 4px 4px;
        color: #ffffff;
        font-weight: 700;
        font-size: 16px;
        line-height: 0.5;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 0px 0px;
        -moz-box-shadow: 0px 0px 0px 0px;
        box-shadow: 0px 0px 0px 0px;
}
.list-item {
        list-style: none;
        display: inline-block;
}
.lorem-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 0.9;
}
.lorem-text {
        color: #757575;
        font-size: 14px;
        line-height: 0,6;
}
.our-team {
        font-weight: 700;
        font-size: 36px;
        line-height: 0.9;
}
.team-section {
        background-color: #F5F4FA;
}
.member-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 0.8;
}
.job-position {
        color: #757575;
        font-size: 16px;
        line-height: 0.8;
}
.description-below {
        background-color: #2F303A;
}
.gps{
        color: #ffffff;
}
.contacts-below {
        color: #757575;
        list-style: none;
}
.contact-below {
        color: inherit;
        text-decoration: none;
        font-size: 14px;
        line-height: 0,6;
}
.blue-part {
        color: #2196F3;
        font-family: "Raleway";
        font-size: 26px;
        line-height: 1,2;
        font-weight: 700;
}
.white-part {
        color: #ffffff;
        font-family: "Raleway";
        font-size: 26px;
        line-height: 1,2;
        font-weight: 700;
}
.black-part {
        color: #000000;
        font-family: "Raleway";
        font-size: 26px;
        line-height: 1,2;
        font-weight: 700;
}
.header-borders {
        border: 1px;
        border: #ECECEC;
}
.project-categories {
        list-style: none;
}
.category-button {
        color: inherit;
        background-color: #F5F4FA;
        font-weight: 500;
        font-size: 16px;
        line-height: 0,6;
        border: #F5F4FA;
        border-radius: 4px 4px 4px 4px;
        cursor: pointer;
        
}
.category-button:hover,
.category-button:focus {
        background-color: #2196F3;
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
        line-height: 0,6;
        border-radius: 4px 4px 4px 4px;
        cursor: pointer;
        
}
.project-name {
        font-weight: 700;
        font-size: 18px;
        line-height: 0.5;
        
}
.project-type {
        color: #757575;
        font-size: 16px;
        line-height: 0.5;
}

.our-projects {
        list-style: none;
        display: inline-block;
}